# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Spam Filter/*
!/Spam Filter/task/
/Spam Filter/task/*
!/Spam Filter/task/spam.py
!/Spam Filter/task/ds.csv
!/Spam Filter/task/vectorizer.pkl
